{% load staticfiles %}
{# Load the bootstrap tags library #}
{% load bootstrap3 %}
<html>
    <head>
      {# Load CSS and JavaScript #}
      {% bootstrap_css %}
      {% bootstrap_javascript %}
        <title>Help4Venezuela</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/help4vzl.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Abel|Asap|Merriweather+Sans:300i|Patrick+Hand|Anton|Fjalla+One" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">



    </head>
<body>
    <div class="page-header">
        <div class="dropdown">
            <button class="dropbtn"><i class="material-icons">menu</i></button>

            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="{% url 'postulation_new' %}">Create Postulation</a>
                {% if user.is_authenticated %}<a href="{% url 'postulation_detail' pk=postulation.pk %}">Your Postulation</a>{% endif %}
                {% if user.is_authenticated %}<a href="{% url 'logout' %}">Logout</a>{% else %}<a href="{% url 'login' %}">Login</a>{% endif %}

            </div>
        </div>
    </div>
        <!--<a href="{% url 'postulation_new' %}" class="sidebar-nav"><span>Add Postulation</span></a>-->

        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
{% block content %}
{% endblock %}
<div class="footer">
  <a href="mailto:help4venezuela18@gmail.com">Contact</a>
</div>
</body>
</html>
