{% extends 'help4vzl/base.html' %}


{% block content %}


    <section class='intro'>
        <div class='inner'>
          <div class='content'>
            <div class='text-fix'>
                <h1>Help for Venezuela</h1>
                  <h2>Platform to facilitate the realization of periodic economic contributions aimed at solving problems within a group of specific types caused by the socioeconomic situation in Venezuela.</h2>

                 <a class='btn-home' href="http://127.0.0.1:8000/postulation/new/">Join Us!</a>
            </div>
          <div>
        </div>
    </section>

{% endblock %}
