{% extends 'help4vzl/base.html' %}

{% block content %}
    <div style="padding-left:50%;">
        <center>
            <div>
                <span class="glyphicon glyphicon-ok-circle text-success" style="font-size:300px;"></span>
                </br>
                </br>
                <p class="postulation-text" style="font-size:20px;">
                    Congratulations! You have just created your first postulation.</br>You will soon receive an email from us with the current status of your postulation.
                </p>
            </div>
        </center>
    </div>
{% endblock %}
