/*home page */

html, body {
   margin: 0;
   padding:0;
   height: 100%;
   width: 100%;
}
.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url(https://images.pexels.com/photos/953214/pexels-photo-953214.jpeg) no-repeat 50% 50%;
  display: table;
  top: 0;
  background-size: cover;
  font-family: 'Fjalla One', sans-serif;

}

.intro .inner {
   display: table-cell;
   vertical-align: middle;
   width: 100%;
   max-width: none;
}
.content {
   max-width: 600px;
   margin: 0 auto;
   text-align: center;
   font-family: 'Lato', sans-serif;
   color: #FFFF;
}
.content h1 {
   color: #F9F3F4;
   text-shadow: 0px 0px 300px #000;
   font-size: 500%;
   font-family: 'Fjalla One', sans-serif;
}
.btn-home {
   border-radius: 5px;
   color: #FFFF;
   font-size: 30px;
   padding: 10px 20px;
   border: solid #FFFF;
   text-transform: uppercase;
   text-decoration: none;
}

/*header*/

.header{
    width: 100%;
    bottom: 10;
    left: 0;
    background-image: url(images/background.jpeg);
    padding: 0px 0px 0px 20px;
    position: relative;
    border-bottom: none;
    margin: 10px 0 -46px;

}
/*helps fix blank space in header*/
.text-fix{
  padding-top: 10;
}

/* Dropdown Button */
.dropbtn {
    background-color: Transparent;
    color: white;
    border: none;
    cursor:pointer;
    overflow: hidden;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: Transparent;
    color: #1ec279;
}

.postulation-form textarea, .postulation-form input {
    width: 100%;
}

/* text block on the category box */
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.center-justified {
  text-align: justify;
  margin: 0 auto;
  width: 30em;
}

.postulation-text {
    font-family: 'Abel', sans-serif;
    font-size: 16px;
}

.footer {
  overflow: hidden;
  background-image: url('/static/images/footer.jpeg');
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  float: left;
  display: block;
  color: #64A8FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Chivo', sans-serif;
}

.footer a:hover {
  background: #f1f1f1;
  color: #64A8FF;
}

.footer a.active {
  background-color: #64A8FF;
  color: white;
}
